@keyframes openModal {
    0% {
        transform: translateY(-100px);
    }

    70% {
        transform: translateY(40px);
    }

    80% {
        transform: translateY(15px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes closeModal {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-1000px);
    }

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Jersey 15';
    box-sizing: border-box;
}

.nav-item-a,
.nav-item-mobile {
    color: #AEAEAE;
    text-decoration: none;
}

html {
    height: 100%;
    overflow: hidden;
}

html::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    height: 1000em;
}

html.overlay-active::before {
    background-color: rgba(0, 0, 0, 0.7);
}

body {
    background-image: url('../img/background-image.png');
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

button {
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.link-item {
    text-decoration: none;
}

header {
    background-color: #4B514E;
    border-bottom: 3px #292929 solid;
    position: sticky;
    top: 0px;
    width: 100vw;
    height: 70px;
    z-index: 999;
    filter: none !important;
}

.header-content {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 0 0 4%;
    width: 100%;
    flex-direction: row;
    animation-direction: reverse;
}

.header-content,
.header-content-mobile {
    display: flex;
}

.header-logo>p {
    color: #FFF !important;
}

.nav-item {
    font-size: 1.8rem;
    margin-left: 3vw;
    display: flex;
    align-items: center;
    margin-top: 1%;
    text-align: center;
}

.header-links-content-pc {
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center;
    height: 4.375rem;
}

.btn-modal {
    width: 57px;
    height: 60px;
}

.header-content-mobile {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 999;
    margin-top: -3em;
}

.header-links-content-mobile {
    align-items: center;
    background-color: #4B514E;
    color: #FFF;
    width: 100%;
    position: sticky;
}

.header-links-content-mobile,
.btn-modal {
    display: none;
}

.active {
    animation: openModal 0.35s linear;
}

.desactive {
    animation: closeModal 0.45s linear;
}

.padding-itens {
    justify-content: center;
    align-items: start;
    padding: 5%;
}



#main-structure {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em;
    margin-top: 5em;
}

#main-structure.overlay-active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
}


#main-structure-content {
    border: #292929 solid 2px;
    border-radius: 5px;
}

#main-structure.overlay-active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.img-banner {
    width: 100%;
}

#game-description,
#how-it-works,
#game-creation,
#about-ds,
#thanks {
    color: #FFF;
    padding: 5em;
    width: 100%;
}

.gray-c {
    background-color: #4B514E;
}

.gray-b {
    background-color: #3C403E !important;
}

.game-description-content,
.how-it-was-description,
.used-technologies-container,
.p-container,
.what-is-ds,
.team-names {
    font-size: 35px;
    width: 100%;
    justify-content: space-between;
}

.game-description-content {
    text-align: left;
}

.how-it-was-description {
    text-align: center;
    width: 80%;
    margin-bottom: 3em;
}

.title {
    font-size: 60px;
}

.how-it-works-title {
    margin-bottom: 2em;
    text-align: center;
}

.industrial-week {
    margin-top: 2em;
}

.description {
    width: 35vw;
}

.crown-img {
    margin-left: 1em;
    max-width: 15em;
}

.used-technologies-container {
    border-radius: 10px;
    background-color: #3D3E3d;
    color: #B6B6B6;
    text-align: center;
    padding: 3rem;
}

.used-technologies-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin-top: 1em;
}

.grid-item {
    width: 100%;
    border-radius: 8px;
    border: 2px solid #282828;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.grid-item-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #FFF;
    padding-top: 1.5em;
    align-items: center;
    justify-content: center;
}

.grid-item-content {
    width: 5em;
    height: 15em;
}

.grid-item-content img {
    max-width: 10vw;
}

.grid-item-content>p {
    margin-top: 1em;
}


.show {
    width: 150%;
    font-size: 100% !important;
}

.show,
.show-item {
    display: none;
}

#about-ds {
    background-color: #2E2E2E;
}

.what-is-ds,
.subjectives-ds {
    padding: 2em;
}

.what-is-ds,
.subjectives-ds,
.subjective-container-esp {
    margin-top: 2em;
    text-align: center;
    border: #1C1C1C solid;
    border-radius: 10px;
}

.content-ds-about-over {
    width: 90%;
    overflow: hidden;
}

.content-ds-about-over p {
    margin-top: 1em;
}

.active-openHidden {
    max-height: 5em !important;
    overflow: hidden;
}

.desactive-openHidden {
    height: auto;
    overflow: none;
}

#read {
    margin-top: 2em;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    height: 2em;
    background-color: #F3C612;
    transition: all 0.2s ease-in-out;
}

#read:hover {
    color: #F3C612;
    background-color: transparent;
}

.subjectives-ds {
    width: 100%;
}

.subjective-container-esp {
    padding: 2em;
    flex-direction: row;
    width: 100%;
    font-size: 40px;
    justify-content: space-between;
}

.text-content-subjective {
    text-align: left;
    width: 80%;
}

.description-text {
    color: #BEB9B9;
}

.subjective-container-esp img {
    width: 120px;
}

/*
Agradecimentos
*/
.thanks-content {
    text-align: center;
    width: 75%;
}

.p-container {
    width: 100%;
}

.qui-o {
    white-space: nowrap;
}

.item-name {
    white-space: nowrap;
    font-size: 30px;
}

.java:hover {
    border-color: #E84135;
}

.sql:hover {
    border-color: #FC490B;
}

.maui:hover {
    border-color: #512BD3;
}

.js:hover {
    border-color: #FFDF00;
}

.html:hover {
    border-color: #FF9100;
}

.css:hover {
    border-color: #2D84CA;
}

.grid-item-pc:hover {

    .img-fluid,
    .item-name {
        display: none;
    }

    .grid-item-content {
        padding: 0;
    }

    .show {
        margin-top: 0;
        font-size: 16px;
        display: block;
    }
}

.description-grid-item-container {
    display: none;
}

.grid-item-mobile {
    max-height: 5rem;
}


.grid-item-mobile:hover {
    min-height: 10rem;
    border: 3px #A5A5A5 solid;
    z-index: 3;
    margin-top: -2em;
    overflow: hidden;

    .item-name,
    img {
        display: none;
    }

    .show {
        display: block;
        font-size: 20px;
    }
}

.p-container {
    margin-top: 2em;
}

#thanks {
    padding: 4em;
    flex-direction: column;
}

.what-is-ds {
    margin-bottom: 2em;
}

.team-description {
    margin-top: 3em;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}

.p-thanks-none {
    display: none;
}

.none {
    display: none;
}

.team-img {
    width: 100vw;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .nav-item {
        margin-top: 2%;
        font-size: 22px;
    }
}

@media only screen and (max-width: 1240px) {
    .nav-item {
        margin-top: 2.5%;
        font-size: 18px;
    }

    .title {
        font-size: 40px;
    }

    .game-description-content,
    .how-it-was-description,
    .used-technologies-container,
    .what-is-ds,
    .p-container,
    .team-names,
    .text-content-subjective {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .nav-item {
        margin-left: 1vw;
    }

    .title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 990px) {
    header {
        border: none;
    }

    .header-content {
        padding: 0 2% 0 4%;
    }

    .header-links-content-pc {
        display: none;
    }

    .btn-modal {
        display: block;
    }

    .nav-item {
        font-size: 20px;
    }

    #game-description {
        padding: 1.5em;
    }

    .game-description-content,
    .how-it-was-description,
    .p-container,
    .team-names {
        flex-direction: column;
        text-align: center;
        font-size: 25px;
    }

    .game-description-content,
    .how-it-was-description,
    .p-container {
        padding: 2em;
    }

    .title {
        font-size: 40px;
    }

    .crown-img {
        margin-top: 2em;
        margin-left: 0;
        max-width: 15em !important;
    }

    .description {
        width: 100%;
    }

    .how-it-was-description {
        width: 100%;
    }

    .hias {
        word-wrap: normal;
    }

    .thanks-title {
        font-size: 35px !important;
    }

    .used-technologies-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .team-description {
        margin-top: -2em;
        flex-direction: column-reverse;
    }

    .team-names {
        margin-top: 2em;
    }

    #about-ds {
        padding: 3em;
    }

    #read {
        display: flex;
    }

    .subjective-container-esp {
        align-items: center;
        flex-direction: row-reverse;
        padding: .5em;
    }

    .description-text {
        display: none;
    }

    .none {
        display: block;
    }

    .text-content-subjective {
        text-align: center;
        width: 80%;
        /* margin-left: 4em; */
        margin-top: .5em;
    }

    .subjective-container-esp img {
        max-width: 10vw;
    }
}

@media only screen and (max-width: 770px) {
    .grid-item-pc:hover {
        .show {
            font-size: 20px !important;
            width: 90%;
        }
    }
}


@media only screen and (max-width: 650px) {
    body {
        background-color: #606764 !important;
        background-image: url('');
    }

    #main-structure {
        padding: 0;
        margin-top: 3em;
    }

    #main-structure-content {
        border: none;
    }

    .banner-img {
        overflow: hidden;
    }

    .img-banner {
        width: 150% !important;
        object-fit: cover;
        margin-left: -28%;
    }

    .crown-container {
        display: none;
    }

    .title {
        font-size: 30px;
    }

    .what-title {
        color: #CACACA;
    }

    #how-it-works {
        padding: 3em;
    }

    .how-it-works-content {
        padding: 0 2em 0 2em !important;
    }

    .game-description-content {
        padding: 0 3em 0 3em;
    }


    #game-creation {
        padding: 5em 2em 5em 2em;
    }

    .how-it-was-description {
        padding: 2em;
        margin-bottom: 0;
    }

    .used-technologies-container {
        background-color: #4B514E;
        width: 120%;
        padding: 0;
    }

    .used-technologies-container>p {
        display: none;
    }

    .used-technologies-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 1em;
        margin-top: 0;
    }

    .grid-item-content {
        padding: 1.5rem;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 5rem;
    }

    .grid-item-content>img {
        width: 12%;
    }

    .grid-item-content>p {
        font-size: 30px;
    }

    .grid-item {
        border: none;
        background-color: #3D3E3D;
    }

    .show-item {
        display: block;
    }

    .p-container {
        width: 100%;
    }

    .subjectives-ds{
        padding: 1em;
        border: none;
    }

    .subjective-container-esp{
        width: 110%;
    }

    .thanks-content {
        text-align: center;
    }

    .team-img {
        margin-bottom: 4em;
    }

    .show {
        width: 100% !important;
        font-size: 100% !important;
    }
}

@media only screen and (max-width: 550px) {
    .grid-item-content>img {
        width: 15%;
    }

    .show {
        font-size: 85% !important;
    }

    .what-is-ds {
        padding: 1em;
    }
}

@media only screen and (max-width: 450px) {

    .grid-item-content>img {
        width: 20%;
    }

    .p-thanks-none {
        font-size: 25px;
        display: block;
    }

    .p-thanks-pc {
        display: none;
    }

    .game-description-content,
    .how-it-was-description,
    .p-container,
    .content-ds-about-over,
    .text-content-subjective,
    .team-names {
        font-size: 20px;
    }

    .thanks-content {
        text-align: center;
    }

    .team-img {
        min-width: 70vw;
    }

    #read {
        font-size: 25px;
    }
}

@media only screen and (max-width: 350px) {
    .thanks-content {
        text-align: center;
        width: 100%;
    }

    .grid-item-content>img {
        width: 25%;
    }

    .used-technologies-container {
        padding: 1em;
    }

    .show {
        font-size: 18px !important;
    }

    .what-is-ds {
        padding: .5em;
    }

    #main-structure,
    #about-ds {
        padding: 5em !important;
    }
}

@media only screen and (max-width: 280px) {

    .grid-item-content>img {
        width: 30%;
    }

    .used-technologies-container {
        padding: 2em;
    }

    .item-name {
        font-size: 20px !important;
    }

    .show {
        font-size: 15px !important;
    }

    .thanks-title {
        font-size: 30px !important;
    }
}