@keyframes openModal {
    0% {
        transform: translateY(-100px);
    }

    70% {
        transform: translateY(40px);
    }

    80% {
        transform: translateY(15px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes closeModal {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-1000px);
    }

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Jersey 15';
    box-sizing: border-box;
}

.nav-item-a,
.nav-item-mobile {
    color: #AEAEAE;
    text-decoration: none;
}

html {
    height: 100%;
    overflow: hidden;
}

html::before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    height: 1000em;
}

html.overlay-active::before{
    background-color: rgba(0, 0, 0, 0.7);
}

body {
    background-image: url('../img/background-image.png');
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

button {
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.link-item {
    text-decoration: none;
}

header {
    background-color: #4B514E;
    border-bottom: 3px #292929 solid;
    position: sticky;
    top: 0px;
    width: 100vw;
    height: 70px;
    z-index: 999;
    filter: none !important;
}

.header-content {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 0 0 4%;
    width: 100%;
    flex-direction: row;
    animation-direction: reverse;
}

.header-content,
.header-content-mobile {
    display: flex;
}

.header-logo {
    font-size: 43px;
}

.header-logo>p {
    color: #FFF !important;
}

.nav-item {
    font-size: 1.8rem;
    margin-left: 3vw;
    display: flex;
    align-items: center;
    margin-top: 1%;
    text-align: center;
}

.header-links-content-pc {
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center;
    height: 4.375rem;
}

.btn-modal {
    width: 57px;
    height: 60px;
}

.header-content-mobile {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 999;
    margin-top: -3em;
}

.header-links-content-mobile {
    align-items: center;
    background-color: #4B514E;
    color: #FFF;
    width: 100%;
    position: sticky;
}

.header-links-content-mobile,
.btn-modal {
    display: none;
}

.active {
    animation: openModal 0.35s linear;
}

.desactive {
    animation: closeModal 0.45s linear;
}

.padding-itens {
    justify-content: center;
    align-items: start;
    padding: 5%;
}



#main-structure {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em;
    margin-top: 5em;
}

#main-structure.overlay-active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
}


#main-structure-content {
    border: #292929 solid 2px;
    border-radius: 5px;
}

#main-structure.overlay-active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.img-banner {
    width: 100%;
}

#game-description,
#how-it-works,
#game-creation {
    color: #FFF;
    padding: 5em;
    width: 100%;
}

.gray-c {
    background-color: #4B514E;
}

.gray-b {
    background-color: #3C403E;
}

.game-description-content,
.how-it-was-description {
    font-size: 25px;
    width: 100%;
    justify-content: space-between;
}

.game-description-content {
    text-align: left;
}

.how-it-was-description {
    text-align: center;
    width: 60%;
}

.title {
    font-size: 40px;
}

.how-it-works-title {
    margin-bottom: 2em;
    text-align: center;
}

.industrial-week {
    margin-top: 2em;
}

.description {
    width: 35vw;
}

.crown-img {
    margin-left: 1em;
    max-width: 15em;
}

.used-technologies-container {
    border-radius: 10px;
    background-color: #3D3E3d;
    width: 100%;
    color: #B6B6B6;
    font-size: 40px;
    text-align: center;
    padding: 2rem;
}

.used-technologies-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.grid-item {
    border-radius: 8px;
    border: 2px solid #282828;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.grid-item-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #FFF;
    padding-top: 1.5em;
}

.grid-item-content {
    width: 5em;
}

.grid-item-content>p {
    margin-top: 1em;
}

.show, .show-item {
    display: none;
}

.grid-item-pc:hover {
    .img-fluid, .item-name{
        display: none;
    }

    .grid-item-content{
        padding: 0;
    }
    
    .show{
        margin-top: 0;
        font-size: 16px;
        display: block;
    }
}

.description-grid-item-container{
    display: none;
}

.grid-item-mobile {
    height: 5rem; 
    transition: height 0.1s;
}


.grid-item-mobile:hover{
    height: 10rem;
    border: 3px #282828 solid;
    /* margin-top: -2rem; */

    .item-name, img{
        display: none;
    }

    .show{
        display: block;
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .nav-item {
        margin-top: 2%;
        font-size: 22px;
    }
}

@media only screen and (max-width: 1240px) {
    .nav-item {
        margin-top: 2.5%;
        font-size: 18px;
    }
}

@media only screen and (max-width: 1024px) {
    .nav-item {
        margin-left: 1vw;
    }
}

@media only screen and (max-width: 990px) {
    header {
        border: none;
    }

    .header-content {
        padding: 0 2% 0 4%;
    }

    .header-links-content-pc {
        display: none;
    }

    .btn-modal {
        display: block;
    }

    .nav-item {
        font-size: 20px;
    }

    #game-description {
        padding: 1.5em;
    }

    .game-description-content,
    .how-it-was-description {
        flex-direction: column;
        text-align: center;
        font-size: 20px;
    }

    .title {
        font-size: 30px;
    }

    .crown-img {
        margin-top: 2em;
        margin-left: 0;
        max-width: 15em !important;
    }

    .description {
        width: 100%;
    }

    .how-it-was-description {
        width: 100%;
    }

    .hias {
        word-wrap: normal;
    }

    .used-technologies-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 650px) {
    body {
        background-color: #606764 !important;
        background-image: url('');
    }

    #main-structure {
        padding: 0;
        margin-top: 3em;
    }

    #main-structure-content {
        border: none;
    }

    .banner-img {
        overflow: hidden;
    }

    .img-banner {
        width: 150% !important;
        object-fit: cover;
        margin-left: -28%;
    }

    .crown-container {
        display: none;
    }

    .title {
        font-size: 30px;
    }

    #how-it-works {
        padding: 3em;
    }

    .game-description-content {
        padding: 0 2em 0 2em;
    }

    #game-creation {
        padding: 5em 0 5em 0;
    }

    .how-it-was-description {
        padding: 2em;
    }

    .used-technologies-container {
        background-color: #4B514E;
    }

    .used-technologies-container>p {
        display: none;
    }

    .used-technologies-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid-item-content {
        padding: 1.5rem;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 5rem;
    }

    .grid-item-content>img {
        width: 14%;
    }

    .grid-item-content>p {
        font-size: 30px;
    }

    .grid-item {
        border: none;
        background-color: #3D3E3D;
    }

    .show-item {
        display: block;
    }
}

@media only screen and (max-width: 550px) {
    .grid-item-content>img {
        width: 15%;
    }
}

@media only screen and (max-width: 450px) {
    .grid-item-content>img {
        width: 20%;
    }
}

@media only screen and (max-width: 370px) {
    .grid-item-content>img {
        width: 25%;
    }

    .show{
        /* display: block; */
        font-size: 15px !important;
    }
}
